# Dependencies
node_modules/

# React Native
.expo/
.expo-shared/

# Build outputs
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.orig.*
dist/
build/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
DerivedData/

# Android
android/app/build/
android/.gradle/
android/build/
local.properties
*.aab
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
.env.local
!.env.example

# Temporary
tmp/
temp/
